//- template.pug

html 
    head 
        title Title
        style
            include style.css
    body 
        article 
            header
                h2= name
            figure 
                img(src="./img/cat.jpg")
            p= age 
            p= weight 
        script(src="./js/main.js") 
        
